body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
}

.logo img {
  max-width: 100%; /* Ajusta o tamanho da imagem para não ultrapassar a div */
  height: auto; /* Mantém a proporção da imagem */
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
}

main {
  padding: 20px;
}

.step {
  margin-bottom: 30px;
  display: inline-block;
  width: 48%;
}

.steps {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.step:nth-child(odd) {
  margin-right: 2%; /* Espaçamento entre os passos */
}

.step:nth-child(even) {
  margin-left: 1%; /* Espaçamento entre os passos */
}


.steps-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px; /* Espaço grande entre os grupos de passos */
}

.step select, .step input[type="date"] {
  width: 100%;
}

.step p {
  font-size: 16px;
  margin-bottom: 5px;
}

select, input[type="date"] {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f0f0f0;
}

.sidebar {
  width: 250px;
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar .menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar .menu-list li {
  margin-bottom: 10px;
  font-size: 18px;
}

.sidebar .menu-list a {
  text-decoration: none;
  color: #333;
}

main {
  padding: 20px;
}

.spacer {
  height: 20px; /* Define a altura do espaço entre as div */
}