body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
}

.logo img {
  max-width: 100%;
  height: auto;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
}

main {
  padding: 20px;
}

.step {
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 30px;
  display: inline-block;
  width: 40%;
}

.steps {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.step:nth-child(odd) {
  margin-right: 2%;
}

.step:nth-child(even) {
  margin-left: 1%;
}


.steps-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.step select,
.step input[type="date"] {
  width: 100%;
}

.step p {
  font-size: 16px;
  margin-bottom: 5px;
}

select,
input[type="date"] {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f0f0f0;
}

.sidebar {
  width: 250px;
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar .menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar .menu-list li {
  margin-bottom: 10px;
  font-size: 18px;
}

.sidebar .menu-list a {
  text-decoration: none;
  color: #333;
}

main {
  padding: 20px;
}

.spacer {
  height: 20px;
}

/* Tela Agendamentos */

.agendamentos {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  text-align: center;
}

.agendamentos h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.time-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.time-table th,
.time-table td {
  padding: 10px 15px;
  text-align: center; /* Centraliza o conteúdo */
  border-bottom: 1px solid #ccc;
}

.time-table th {
  background-color: #f0f0f0;
}

.reagendar {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reagendar:hover {
  background-color: #0056b3;
}

.container {
  display: flex;
}

.sidebar {
  width: 300px; /* Largura da barra lateral */
  background-color: #f0f0f0;
  padding: 20px;
}

.sidebar .logo img {
  max-width: 100%;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}

.result-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.result-table th,
.result-table td {
  padding: 10px 15px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.result-table th {
  background-color: #f0f0f0;
}

.visualizar,
.download {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 5px;
}

.visualizar:hover,
.download:hover {
  background-color: #0056b3;
}